#ignorar archivo token.txt
token.txt

#ignorar archivos de cache de python en todos los directorios y subdirectorios
*.pyc
__pycache__/

# Byte-compiled files
__pycache__/
*.py[cod]

# Entornos virtuales
env/
venv/

# directorio de apps de prueba
test_apps/
apps/
app/
app1/
app2/
app3/
app4/
app5/
app6/
app7/
app8/
app9/

# Configuración del sistema
*.swp
*.swo
.DS_Store
Thumbs.db

# Archivos de build y distribución
build/
dist/
*.egg-info/

# Configuración de IDEs
.idea/
.vscode/

# Archivos de log o temporales
*.log
*.tmp

# Archivos de prueba
.coverage
htmlcov/

# Dependencias no necesarias si usas un virtualenv
*.bak
*.old
pip-wheel-metadata/

# Environments
.venv
venv/
ENV/

