annotated-types==0.7.0
asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.2
-e git+https://github.com/raycuba/ddd_cli.git@0f84a074cba6ee6c1cec418055162a06592359a3#egg=ddd_cli
Django==5.1.7
docutils==0.21.2
id==1.5.0
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
keyring==25.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.6.0
nh3==0.2.21
packaging==24.2
pycparser==2.22
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.1
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
SecretStorage==3.3.3
setuptools==75.8.2
sqlparse==0.5.3
twine==6.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.3.0
