
{% extends 'layout.html' %}

{% block title %}
Django form list
{% endblock %}

{% block content %}
    <h1 class="title">List of</h1>

    {% include 'app1/_web_global_errors.html' %}

    <!--Codigo de Listado-->
    <table class="table table-striped border datatable">
        <thead>
          <tr>       
            <th>AttributeName</th>
            <th>AttributeEmail</th>            
            <th>AttributeRole</th>                       
            <th>AttributeStatus</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

            {% for company in company_list %}
            <tr class="align-middle">              
                <td>{{company.attributeName}}</td>                
                <td>{{company.attributeEmail}}</td>
                <td>
                    {% if company.attributeRole == 'adm' %} 
                        Administrator 
                    {% elif company.attributeRole == 'man' %} 
                        Manager 
                    {% elif company.attributeRole == 'emp' %} 
                        Employee 
                    {% endif %}
                </td>
                <td>{{company.attributeStatus}}</td>
                <td>
                    <a class="btn btn-success" href="">Edit</a>
                    <a class="btn btn-success" href="">View</a>
                    <a class="btn btn-success" href="">Delete</a>
                </td>
            </tr>    
            {% endfor %}

        </tbody>
    </table>    

{% endblock %} 
