
<!-- Errores del formulario -->
{% if form.errors %}
    <div class="alert alert-danger">
        <strong class="red">Error!</strong> <spam>There are errors in the form</spam>:
        <ul>
            <!-- Mostrar errores globales del formulario -->
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}

            <!-- Mostrar errores específicos de los campos -->
            {% for field, errors in form.errors.items %}
                {% if field != '__all__' %}
                    {% for error in errors %}
                        <li>{{ field|capfirst }}: {{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}