{% extends 'layout.html' %}

{% block title %}
Django form
{% endblock %}

{% block content %}
    <h1 class="title">Edit Form in Django</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong class="red">Error!</strong> There are errors in the form:
        </div>
    {% endif %}
        
    <form action="{% url '[[ entity_name.lower() ]]_save' %}" method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Save" />
    </form>
{% endblock %} 
