{% extends 'layout.html' %}

{% block title %}
Django form create
{% endblock %}

{% block content %}
    <h1 class="title">Create a Form in Django</h1>

    {% include '[[ relative_app_path ]]/_web_global_errors.html' %}
    {% include '[[ relative_app_path ]]/_web_form_errors.html' %}

    <!--Codigo de Formulario-->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Save" />
    </form>

    {% comment %}  
    <!-- ejemplo de como personalizar el formulario -->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- ejemplo de como generar todos los campos -->
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <!-- ejemplo de como generar un campo especifico -->
        <div id="div_{{ form.attributeName.id_for_label }}" class="mb-3">
            <label for="{{ form.attributeName.id_for_label }}" class="form-label">
                {{ form.attributeName.label }}
            </label>
            {{ form.attributeName }}
            {% if form.attributeName.errors %}
                <div class="text-danger">
                    {% for error in form.attributeName.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}            
        </div>             

        <input type="submit" value="Save" />
    </form>         
    {% endcomment %}

{% endblock %}