{% extends 'layout.html' %}

{% block title %}
Django form list
{% endblock %}

{% block content %}
    <h1 class="title">List of</h1>

    {% include '[[ relative_app_path ]]/_web_global_errors.html' %}

    <!--Codigo de Listado-->
    <table class="table table-striped border datatable">
        <thead>
          <tr>       
            <th>AttributeName</th>
            <th>AttributeEmail</th>            
            <th>AttributeRole</th>                       
            <th>AttributeStatus</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

            {% for [[ entity_name.lower() ]] in [[ entity_name.lower() ]]_list %}
            <tr class="align-middle">              
                <td>{{[[ entity_name.lower() ]].attributeName}}</td>                
                <td>{{[[ entity_name.lower() ]].attributeEmail}}</td>
                <td>
                    {% if [[ entity_name.lower() ]].attributeRole == 'adm' %} 
                        Administrator 
                    {% elif [[ entity_name.lower() ]].attributeRole == 'man' %} 
                        Manager 
                    {% elif [[ entity_name.lower() ]].attributeRole == 'emp' %} 
                        Employee 
                    {% endif %}
                </td>
                <td>{{[[ entity_name.lower() ]].attributeStatus}}</td>
                <td>
                    <a class="btn btn-success" href="">Edit</a>
                    <a class="btn btn-success" href="">View</a>
                    <a class="btn btn-success" href="">Delete</a>
                </td>
            </tr>    
            {% endfor %}

        </tbody>
    </table>    

{% endblock %} 
